.reportmodule {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 5px;
	width: 8em;
	padding: 1em;
	z-index: 4;
	border-radius: 1em;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	opacity: 0.8;
	filter: alpha(opacity-80);
	cursor: move;
	border: 2px solid #800080;
}

.reportcontainer {
	position: relative;
/* 	width: 900px; */
/* 	height: 978px; */
	background-color: #ECF5FF;
}

.reportcontainerdiv {
	position: relative;
	width: 900px;
	height: 978px;
	background-color: #FFF4C1;
}

 .gridContainerTable{
	width: 880px;	
	height:100%;
	margin:5px 5px 25px 5px;
} 

.gridContainerTable tbody, .gridContainerTable tr{

}

.gridContainerTable th, .gridContainerTable td{
	border: 1px dashed #BEBEBE;
	vertical-align:top;
	padding: 3px 3px 3px 3px;
	margin: 3px 3px 3px 3px;
}

.testFixedSize {
	width: 300px;
	height: 200px;
	padding: 7px;
}

.dijitTitlePaneContentOuter {
	border-right-color: red;
}