@CHARSET "UTF-8";

body {
	font-family: "Microsoft YaHei";
	font-size: 12px;
}

table {
	width: 100%;
	border-spacing: 1px;
	border: 1px solid #A2C0DA;
}

td,th {
	padding: 5px;
	border-collapse: collapse;
	text-align: left;
}

th {
	background: #B0D1FC;
	border: 1px solid #9CF;
	text-align: center;
	font-weight: bold;
}

td {
	border: 1px solid #D5E7FF;
}