<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver </property>
		<property name="hibernate.connection.url"> jdbc:mysql://localhost:3306/haflow
		</property>
		<property name="hibernate.connection.username">root </property>
		<property name="hibernate.connection.password">123456 </property>
		<property name="hibernate.connection.pool.size">20 </property>
		<property name="hibernate.show_sql">false </property>
		<property name="format_sql">false</property>
		<property name="Connection.useUnicode">true </property>
		<property name="connection.characterEncoding">utf-8 </property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect </property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping class="haflow.entity.Edge" />
		<mapping class="haflow.entity.Flow" />
		<mapping class="haflow.entity.Node" />

		<mapping class="haflow.profile.NodeAppearance" />
		<mapping class="haflow.profile.NodeConfiguration" />
	</session-factory>
</hibernate-configuration>